<div class="content">
            <!-- **** affichage des classes **** -->

    <div class="col-sm-12 col-xl-6" *ngIf="page === 'liste'">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Hoverable Table</h6>
            <button (click)="pageAjout()">Ajouter une classe</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Intitule</th>
                        <th scope="col">Actions</th>
                        
                    </tr>
                </thead>
                <tbody *ngFor="let classe of classes">
                    <tr>
                        <th scope="row">{{classe.id}}</th>
                        <td>{{classe.intitule}}</td>
                        <td>  <a  class="btn btn-success btn-circle btn-sm" (click)="pageModif(classe)">
                            <i class="fas fa-check"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a class="btn btn-danger btn-circle btn-sm" (click)="pageSup()">
                            <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


            <!-- **** Formulaire d'ajout d'une classe **** -->

    <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4" *ngIf="page === 'ajout'">
            <h6 class="mb-4">Floating Label</h6>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"
                    [(ngModel)]="nouvelleClasse.intitule" >
                <label for="floatingInput">Intitule</label>
            </div>
            <button (click)="add()">Ajouter</button>
        </div>
    </div>


            <!-- **** modification d'une classe **** -->

    <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4" *ngIf="classeSelectionnee">
            <h6 class="mb-4">Floating Label</h6>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"
                    [(ngModel)]="classeSelectionnee.intitule" >
                <label for="floatingInput">Intitule</label>
            </div>
            <button (click)="update(classeSelectionnee.id,classeSelectionnee)">Modifier</button>
        </div>
    </div>

            <!-- **** suppression d'une classe **** -->

  
    <div *ngIf="page === 'suppression'">
        <h2>Supprimer un élément :</h2>
        <p>Voulez-vous vraiment supprimer cet élément ?</p>
        <div *ngFor="let classe of classes">
            <p>{{ classe.intitule }}</p> 
            <button (click)="delete(classe.id)">Confirmer</button>
            <button (click)="annuler()">Annuler</button>
        </div>
    </div>








 